*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at center, #0d0d0d 40%, #050505 100%);
    color: #f0f0f0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background: #00eaff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb:hover {
    background: #ff00ff;
}